.body-mainIndex {
    background-image: url(/images/hero.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.body-mainRegister {
    background-image: url(/images/shotgun.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body-mainLogin {
    background-image: url(/images/cowboy.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
}



footer {
    font-family: Georgia,Serif;
    color: #fff;
}

.display-3 {
    font-family: Fantasy;

}


.pl-5 {
    font-family: Cursive;
}
.mt-3 {
    font-family: Cursive;
}


.jumbotron{
    background-color: rgba(0,0,0,0.1);
    min-height: 90vh;
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
}
