body {
    background-image: url(/images/environment1.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#footer {
font-family: Georgia,Serif;
}

.jumbotron{
    background-color: rgba(0,0,0,0.1);
    min-height: 90vh;
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
}
